<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVW8UDBx6AwryJ7OWLlD1zbWL6L5jKGAI</string>
	<key>GCM_SENDER_ID</key>
	<string>951154214676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.serve.delivery</string>
	<key>PROJECT_ID</key>
	<string>serive-7e5aa</string>
	<key>STORAGE_BUCKET</key>
	<string>serive-7e5aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951154214676:ios:e4fe231a8afaef1b96a401</string>
</dict>
</plist>